<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bicco.autonomo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tuts"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tutslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Introduction">
        <activity
            android:name=".Form.FormRegistrar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Introduction"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Form.FormLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Introduction"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Apresentacao"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Introduction"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.abalateral.MainBcc"
            android:label="Tela Inicial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Introduction"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".HomeScreen.TelaRecuperacao"
            android:label="Recuperação de senha"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Introduction"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>